body{
    background-color: aquamarine;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 24px;
    align-items: center;
    
}
.fotos img{
    width: 500px;
    height: 300px;
    justify-content: center;
    padding-left: 30%;
}
.arrow-left,
.arrow-right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background: white;
  background-color:black;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.footer {
    background-color: rgb(94, 90, 90);
    padding-bottom: 0px;
}